@page "/"
@inject NavigationManager  Navigation

<div class="text-center">
    <button class="btn btn-lg btn-outline-primary" @onclick="RedirectToComputePage">Compute For NPV</button>
    <p class="text-center pb-0 pt-3">Or</p>
    <p class="text-center pb-3 pt-3">Enter a reference ID below to view previous result</p>
    <EditForm Model="@index" OnValidSubmit="@RedirectToResultPage" class="form-inline d-flex justify-content-center">
        <DataAnnotationsValidator />
        <div class="input-group mb-2 mr-sm-2">
            <InputText id="referenceId" class="form-control" @bind-Value="index.ReferenceId" />
            <ValidationMessage For="@(() => index.ReferenceId)" />
        </div>
        <button type="submit" class="btn btn-outline-info mb-2">View Previous Result</button>
    </EditForm>
</div>

@code {

    private IndexViewModel index = new IndexViewModel();

    public void RedirectToComputePage()
    {
        Navigation.NavigateTo("compute");
    }

    public void RedirectToResultPage()
    {
        Navigation.NavigateTo("result/" + index.ReferenceId);
    }
}
